__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/
*.egg

.ruff_cache/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

checkpoints/
checkpoint/
output/
outputs/
test/
dataset_processed/
Dataset/
dataset/
data/raw/
data/processed/
*.npy
*.tif
*.tiff
*.pth
*.pt

.env
.venv/
venv/

wandb/
.ipynb_checkpoints/
*.swp
*.swo
*.log
*.bak
*.tmp
