# Core dependencies
torch>=2.0
timm==0.9.6
huggingface_hub
albumentations
opencv-python-headless
scipy
numpy<2.0
tifffile
tqdm
cellpose
bitsandbytes

# Notebook requirements
matplotlib
jupyter
ipykernel
