# Core dependencies
torch>=2.0
timm>=1.0.3
transformers>=4.36.0
huggingface_hub
albumentations
opencv-python-headless
scipy
numpy>=2.0,<2.1
tifffile
tqdm
bitsandbytes

# Notebook requirements
matplotlib
jupyter
ipykernel
